@model IEnumerable<MVCSignalRSQLDependency.Models.Person>

<div>
    <table id="tblJobInfo" style="text-align: center; margin-left: 10px">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        @foreach(var person in Model)
        {
            <tr>
                <td>@person.ID</td><td>@person.FirstName</td><td>@person.LastName</td>
            </tr>
        }
    </table>
</div>
